---
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/BlogCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title="Blog Posts">
  <section class="max-w-4xl mx-auto">
    <h1 class="text-4xl font-bold mb-12 text-center">Blog Posts</h1>
    
    <div class="grid gap-8">
      {
        posts.map((post) => (
          <BlogCard
            title={post.data.title}
            description={post.data.description}
            pubDate={post.data.pubDate}
            url={`/blog/${post.slug}/`}
          />
        ))
      }
    </div>
  </section>
</Layout>