---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		   <div style="display:flex;justify-content:center;align-items:center;height:100vh;"><span style="font-size:1.5em;">Towards open geospatial for all planets</span></div>

		   <hr style="width:80%;margin-bottom:20px;">
		   <div style="display:flex;justify-content:center;align-items:center;height:100vh;">
		        <img src="/PlanetHare_colorized_moon_rabbit.png" alt="PlanetHare Image" style="width:1024px;height:1024px;object-fit:contain;">
			</div>
		</main>
		<Footer />
	</body>
</html>
