---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		   <div style="display:flex;justify-content:center;align-items:center;"><span style="font-size:1.5em;">Towards open geospatial for all planets</span></div>

		   <hr style="width:100%;margin-bottom:20px;">
		   <div style="display:flex;justify-content:center;align-items:center;">
		        <img src="/PlanetHare_colorized_silver2_rabbit800.png" alt="PlanetHare Image" style="width:800px;height:800px;object-fit:contain;">
			</div>
		</main>
		<Footer />
	</body>
</html>
